default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username:
  password:

development:
  <<: *default
  database: smart_house_development

test:
  <<: *default
  database: smart_house_test

production:
  <<: *default
  database: smart_house_production
  username: smart_house
  password: <%= ENV['SMART_HOUSE_DATABASE_PASSWORD'] %>
