@import "active_admin/mixins";
@import "active_admin/base";
@import "active_admin/select2/base";

.active_admin a.select2-choice {
 	text-decoration: none;
 	color: #000;
}

.active_admin .select2-container {
 	min-width: 200px;
}

.active_admin #sidebar .select2-container {
 	max-width: 300px;
 	min-width: 100px;
}
