/*
*= require_self
*= require_tree .
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'parsley';

a {
  color: #000;
  text-decoration: none !important;

  &:visited {
    color: #666;
  }

  &:hover {
    background-color: transparent;
  }
}
